<!-- Footer -->

<footer class="border-top p-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <h4 class="title-footer">Pizza Club</h4>
                <p class="title-subfoot">Pizza terbaik dibuat dengan hati🖤</p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 ">
                <a href="">Info Nutrisi</a> <br>
                <a href="">Tentang Kami</a> <br>
                <a href="">Promo Spesial</a> <br>
                <a href="">Cara Pemesanan</a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                <a href="">Hubungi Kami</a> <br>
                <a href="">Kebijakan & Privasi</a> <br>
                <a href="">Informasi Karir</a> <br>
                <a href="">Sertifikasi & Jaminan</a>
            </div>
        </div>
    </div>
</footer>

<div class="container-fluid">
    <div class="row  bg-light pt-3">
        <div class="col text-center">
            <p>2020 Copyright Pizza Club | All rights reserved</p>
        </div>
    </div>
</div>

<!-- Akhir Footer -->