<!-- Ini Navbar -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.php">
            <img src="img/logo1.png" alt="Pizza_club">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-uppercase mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.php">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Promo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lokasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
            <a href="cart.php" class="nav-link" style="color: black;"><i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a href="" class="btn btn-warning btn-menu text-white" data-toggle="modal" data-target="#login"
                style="border-radius: 10px;">Masuk</a>
        </div>
    </div>
</nav>

<!-- Akhir Navbar -->